@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

.disable-scroll {
  overflow: hidden;
}

$dark-purple: rgba(53, 47, 85, 1);
$light-purple: rgba(95, 82, 164, 1);
$white: rgba(245, 249, 252, 1);

@mixin btn {
  cursor: pointer;
  border: none;
  background-color: $light-purple;
  color: $white;
  padding: 0.8rem;
  border-radius: 6px;
  height: 2.7rem;
  &:hover {
    background-color: $dark-purple;
    transition-duration: 0.4s;
  }
}

@mixin card {
  background-color: $white;
  height: 26rem;
  width: 18rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgb(78, 78, 78) 0px 20px 30px -10px;
  img {
    width: 12rem;
    height: 12rem;
  }
  .text {
    text-align: center;
    h3 {
      padding-bottom: 2rem;
    }
  }
}

@keyframes ease_top {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.popup::after {
  content: "+1";
  position: relative;
  top: -2.6rem;
  right: -9rem;
  width: 2.2rem;
  height: 2.2rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $light-purple;
  color: white;
  animation: 0.6s ease-out ease_top;
}
